.page {
  position: relative;
  background-color: var(--light-green);
  min-height: 100vh;
  width: 100%;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
}
.bg{
  background-color: var(--primary-darker);
}

.banner {
  background-color: var(--dark-transparent-35);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.imgAcerca {
  width: 300px;
  height: 400px;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.desc > :nth-child(1) {
  margin-bottom: 5px;
}
.desc > :nth-child(2) {
  font-size: 22px;
  margin-bottom: 5px;
  width: 80%;
}

.desc > :nth-child(3) {
  font-size: 22px;
  margin-bottom: 5px;
  width: 80%;
}

.contactBtn > :first-child {
  width: 216px !important;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: var(--light-green);
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  flex-shrink: 0;
  align-items: start;
}
.texts > * {
  align-self: flex-start;
  flex-shrink: 0 !important;
}
.spainLocation__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
}

.spainLocation__items__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.titleMob{
  display: none;
}

@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column-reverse;
    padding-top: 52px;
    gap: 16px;
  }
  .titleMob{
    display: block;
  }


  .titleDeskt{
    display: none;
  }

  .desc{
    align-items: center;
    justify-content: center;
  }
  
  .desc > :nth-child(1) {
    margin-bottom: 0px;
    font-size: 36px;
  }
  .desc > :nth-child(2) {
    font-size: 17px;
  }
  .desc > :nth-child(3) {
    font-size: 17px;
    width: 100%;
  }
  .imgAcerca {
    width: 225px;
    height: 300px;
  }
  .main {
    padding-left: 28px;
    padding-right: 28px;
  }
  .texts {
    width: 100%;
    left: 0;
  }
  .contactBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
