.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--green-black);
  gap: 6px;
  height: 180px;
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links{
  color: #d9d9d9;
}

.linksAviso{
  color:#0fbfbf;
  text-decoration: underline;
}

.linksMob{
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 150px;
  }

  .linksMob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linksDesktop {
    display: none;
  }
}

