.iconButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.primary {
  padding: 6px;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  color: rgb(105, 105, 105);
}


.secondary {
  padding: 6px;
  border: none;
}

.secondary > * {
  color: var(--black);
}

.terciary {
  padding: 6px;
  border: none;
}

.terciary > * {
  color: var(--white);
}
