.doubtsSection {
  background-color: rgba(216, 232, 230, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.doubtContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentContainer_doubt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  gap: 32px;
}

.doubtText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Lexend;
  gap: 15px;
}

.doubtButton {
  justify-self: left;
  margin-top: 10px;
}

.faqContainer {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
  padding: 8px 0;
  border-bottom: 1px dashed #2f4f4f;
  border-style: dashed;
  border-width: 0 0 1px 0;
  border-image: repeating-linear-gradient(
    to right,
    #2f4f4f 0,
    #2f4f4f 6px,
    transparent 5px,
    transparent 7px
  ) 1;
}

.faqTitle {
  font-family: 'Lexend';
  font-size: 18px;
  color: #213343;
}

.faqArrow {
  transition: transform 0.3s ease;
}

.faqArrow.expanded {
  transform: rotate(180deg);
}

.faqContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faqContent.expanded {
  max-height: 500px;
}
img{ 
  width: 15px;
}
.faqText {
  padding: 16px 0;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  color: #213343;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .doubtButton {
    display: none;
  }

  .doubtButtonMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 10px;
  }
  .faqTitle {
    font-family: 'Lexend';
    font-size: 16px;
    color: #2f4f4f;
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    word-break: break-word; /* Rompe palabras largas si es necesario */
    white-space: normal; /* Permite que el texto ocupe varias líneas */
    line-height: 1.5; /* Ajusta el espacio entre líneas */
  }
} 