.section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40vh;
  }

.verticalLine {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #cfe1df;
  transform: translateX(-50%);
  display: none;
}

.paso{
  font-size: 16px;
  line-height: 0
}

.stepText {
  font-size: 16px;
  color: #2f4f4f;
}

.progressLine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color:#2f4f4f;
  transition: height 0.3s ease-out;
}

.numberCircle {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
}

.numberCircleBG {
  background-color: var(--primary-darker);
  border-radius: 50%;
}

.circle {
  height: 80px;
  border-radius: 9999px;
  background:#eef5f4;
  color: #2f4f4f;
  font-size: 52px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 1% auto;
  min-height: 40vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.reverse {
  direction: rtl;
}

.reverse > * {
  direction: ltr;
}
.checkIcon{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #2f4f4f;
}

@media (min-width: 768px) {
  .verticalLine {
    display: block;
  }

  .numberCircle {
    display: block;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.imageContainer {
  order: 2;
  display: grid;
  gap: 1.5rem;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {

 
  .imageContainer {
    order: 1;
  }

  .imageWrapper {
    transform: scale(3.4);
  }
}

.textContainer {
  order: 1;
  padding-left: 0;
}

.steps {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  gap: 0.75rem;
  padding-left: 1.5rem;
}

.stepItem {
  display: list-item;
  color: #2f4f4f;
}

.stepText {
  font-size: 16px;
  color: #2f4f4f;
  font-weight: 300;
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  margin: 0;
}

.stepItem:first-child .stepText{
  color: #2f4f4f;
  font-weight: 500;
}

@media (min-width: 768px) {
  .textContainer {
    order: 2;
    padding-left: 2.5rem;
  }
}

.title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}

.description {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  color: black;
  margin-bottom: 1.5rem;
}



.paso {
  color: black;
  font-family: Lexend;
  font-size: 24px;
  font-weight: 500;
}

.check {
  width: 1rem;
  height: 1rem;
  color: #2f4f4f;
}

@media (max-width: 767px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .reverse {
    direction: ltr !important;
  }

  .reverse > * {
    direction: ltr !important;
  }
  

  .title {
    font-size: 24px;
  }

  .stepText {
    font-size: 16px;
  }

  .section {
    margin: 0px 30px;
  }
  .container {
    margin-left: 3.5rem;
    
  }
  .verticalLine {
    display: block;
    left: 1rem;
    transform: none;
  }

  .numberCircle {
    display: block;
    left: -1rem;
    transform: none;
  }
  .circle {
    font-size: 52px;
    height: 55px;
    width: 55px;
  }
}
