.page {
  position: relative;
  background-color: var(--light-green);
  min-height: 100vh;
  width: 100%;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
}
.bg {
}
.banner {
  background-color: #123d3a;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.288);
  align-items: center;
  gap: 32px;
  padding: 50px 0;
}
.imgEspaña {
  width: 200px;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.desc > :nth-child(1) {
}
.desc > :nth-child(2) {
  font-size: 22px;
  width: 80%;
}

.desc > :nth-child(3) {
  font-size: 22px;
  width: 85%;
}

.info {
  display: flex;
  justify-content: center;
  background-color: #f6f9fc;
  border: 1px solid #7691ad;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  gap: 12px;
}

.lines {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 18px;
}

.lines img {
  width: 20px;
  height: 20px;
}

.freeGuide {
  margin-top: 40px;
}

.info__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  gap: 18px;
}

.downTexts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.freeGuide {
  width: 60%;
  height: 70px;
}

.checksTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.line {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  width: 70%; /* O el ancho que prefieras para centrar la lista */
  margin: 0 auto; /* Centra la línea dentro del contenedor */
}

.line > :first-child {
  position: relative;
  top: 3px;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #eaf0f6;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(196, 196, 196, 0.651) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(196, 196, 196, 0.651) 1px, transparent 1px);
  background-size: 140px 140px; /* Tamaño de los cuadrados, ajusta a gusto */
}

.line Text,
.line .text {
  text-align: start !important;
}
.info > :first-child {
  margin-bottom: 8px;
}
.moreInfo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 var(--width-unit-menu);
  gap: 16px;
  align-items: center;
}

.titles {
  margin-bottom: 10px;
}

.mobileTitles {
  display: none;
}

.founderButtonMob {
  justify-self: left;
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-black);
  padding-top: 32px;
  gap: 6px;
  padding-bottom: calc(var(--linea-amarilla) / 2);
  height: 120px;
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.separator {
  height: 0.77rem;
  border: 1px solid #d9d9d9;
}

@media screen and (max-width: 1024px) {
  .titles {
    display: none;
  }
  .mobileTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
  }
  .moreInfo {
    padding: 0 0px;
  }

  .line {
    width: 80%;
  }

  .freeGuide {
    width: 100%;
  }

  .info__desc {
    width: 75%;
  }
  .footer {
    height: 100px;
  }
  .contentContainer_dental {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 28px 0 28px;
  }
  .dentalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .contentContainer_dental {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 28px 0 28px;
  }
  .founderText {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .founderButton {
    display: none;
  }
  .founderButtonMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .desktTitl {
    display: none;
  }

  .mobTitl {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: center;
  }

  .founderText {
    justify-content: start;
    align-items: start;
    display: flex;
    text-align: center;
    gap: 20px;
  }

  .imageWrapper {
    width: 100%;
  }
  .banner {
    flex-direction: column-reverse;
    padding-top: 52px;
    gap: 16px;
  }
  .desc {
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .desc > :nth-child(1) {
    font-size: 36px;
  }
  .desc > :nth-child(2) {
    font-size: 17px;
  }
  .desc > :nth-child(3) {
    font-size: 17px;
    width: 100%;
  }

  .titleMob {
    display: block;
  }

  .titleDeskt {
    display: none;
  }

  .texts {
    width: 100%;
    left: 0;
  }
}
